# Ignore Visual Studio files
!/VsSocialMediaApp/.vs/
**/*.suo
**/*.user

# Ignore build output
!/VsSocialMediaApp/bin/
!/VsSocialMediaApp/obj/

# Ignore NuGet packages
# packages/

# Ignore temporary files
**/*.tmp